@import "tailwindcss";

@theme {
  --color-primary: #0a1f44;
  --color-accent: #25cf63;
  --color-neutral-light: #f5f7fa;
  --color-neutral-dark: #1e1e1e;
  --color-text-dark: #222222;
}

@layer base {
  body {
    @apply bg-neutral-light text-text-dark;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      sans-serif;
  }
}
